{% extends "base.html" %}
{% load static %}

{% block title %}
  Calendar - Yamtrack
{% endblock title %}

{% block content %}
  <div class="mb-8">
    <h1 class="text-3xl font-bold mb-2">Calendar</h1>
    <p class="text-fg-muted">Track upcoming releases from your list.</p>
  </div>

  {% include "events/components/calendar_card.html" %}

  <div class="bg-surface-1 p-5 rounded-lg mb-6">
    <div class="flex items-center mb-3">
      {% include "app/icons/link.svg" with classes="w-5 h-5 text-indigo-400 mr-2" %}
      <h3 class="text-base font-medium">Export link</h3>
    </div>
    <p class="text-fg-muted mb-4 text-sm">
      This link can be used to integrate your calendar into any of your calendar applications.
    </p>
    <div class="bg-surface-1 p-3 rounded-md mb-4">
      <input readonly=""
             class="w-full py-2 px-3 bg-surface-1 rounded-md text-fg text-sm border-0 focus:ring-0 outline-none font-mono"
             type="text"
             value="{{ request.scheme }}://{{ request.get_host }}{% url 'download_calendar' token=user.token %}">
    </div>
  </div>
{% endblock content %}
